.sup-header {
    background-color: #adcee0;
    height: 50px;
}

.nav-spacer {
    flex: 1 1 auto;
}

button.mat-button {
    border-radius: 0;
    font-size: 15px;
}

.title-1 {
    font-size: 20px;
    align-self: center;
}

.title-2 {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    color: #fedb00;
}

.title-3 {
    font-size: 20px;
    align-self: center;
    color: #0057a8;
}

.mat-icon {
    font-size: 30px;
    height: 35px;
    width: 40px;
}

.title-icon {
    font-size: 20px;
    color: #fff;
    padding: 5px;
}
