<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Cras ultricies ligula sed magna.</a></li>
                        <li><a href="#">Curabitur arcu porttitor at sem.</a></li>
                        <li><a href="#">Cras ultricies ligula sed magna.</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="#">Cras ultricies ligula sed magna.</a></li>
                        <li><a href="#">Curabitur arcu porttitor at sem.</a></li>
                        <li><a href="#">Cras ultricies ligula sed magna.</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Sitcar</h3>
                    <p>
                        Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                    </p>
                </div>
                <div class="col item social">
                    <button
                        mat-mini-fab
                        color="primary"
                        aria-label="Example icon button with a menu icon"
                    >
                        <mat-icon>facebook</mat-icon>
                    </button>
                    <button
                        class="mx-2"
                        mat-mini-fab
                        color="primary"
                        aria-label="Example icon button with a menu icon"
                    >
                        <mat-icon>linke</mat-icon>
                    </button>
                    <button
                        mat-mini-fab
                        color="primary"
                        aria-label="Example icon button with a menu icon"
                    >
                        <mat-icon>whatsapp</mat-icon>
                    </button>
                </div>
            </div>
            <p class="copyright">Sitcar © 2022</p>
        </div>
    </footer>
</div>
